@import '../../style-config/colors.scss';

.software__list-item {
  width: 44.47%;
  margin-bottom: 1.5rem;

  @media (max-width: 480px) {
    width: 100%;
  }

  &-name {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5px;
  }

  &-bar {
    margin-top: .85rem;
    height: 1.4375rem;
    background-color: $lightgrey;
  }

  &-progress {
    background-color: $blue;
    height: 100%;
  }
}