mixin softwareItem({ name, percent })
  li.software__list-item
    span.software__list-item-name= name
    .software__list-item-bar
      .software__list-item-progress(aria-label= `${percent}%`, style=`width: ${percent}%`)