.software {
  &__item {
    width: 44.47%;
    margin-bottom: 1.5rem;
  }

  &__name {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5px;
  }

  &__bar {
    margin-top: .85rem;
    height: 1.4375rem;
    background-color: $lightgrey;
  }

  &__progress {
    background-color: $blue;
    height: 100%;
  }
}