@font-face {
  font-family: 'Myriad-Pro';
  src: url('../fonts/myriad-pro.woff2') format('woff2'),
      url('../fonts/myriad-pro.woff') format('woff'),
      url('../fonts/myriad-pro.ttf') format('ttf'),
      url('../fonts/myriad-pro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Myriad-Pro';
  src: url('../fonts/myriad-pro-light.woff2') format('woff2'),
      url('../fonts/myriad-pro-light.woff') format('woff'),
      url('../fonts/myriad-pro-light.ttf') format('ttf'),
      url('../fonts/myriad-pro-light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Myriad-Pro';
  src: url('../fonts/myriad-pro-bold.woff2') format('woff2'),
      url('../fonts/myriad-pro-bold.woff') format('woff'),
      url('../fonts/myriad-pro-bold.ttf') format('ttf'),
      url('../fonts/myriad-pro-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}