@font-face {
    font-family: 'Myriad-Pro';
    src: url('./fonts/Myriad-Pro.woff2') format('woff2'),
         url('./fonts/Myriad-Pro.woff') format('woff'),
         url('./fonts/Myriad-Pro.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad-Pro';
    src: url('./fonts/Myriad-Pro-Light-SemiExtended.woff2') format('woff2'),
         url('./fonts/Myriad-Pro-Light-SemiExtended.woff') format('woff'),
         url('./fonts/Myriad-Pro-Light-SemiExtended.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad-Pro';
    src: url('./fonts/Myriad-Pro-Bold.woff2') format('woff2'),
         url('./fonts/Myriad-Pro-Bold.woff') format('woff'),
         url('./fonts/Myriad-Pro-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}