@import '../../style-config/colors.scss';

.contact {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 1.8rem;

    &::before {
      background-image: url('./phone.png');
    }
  }

  &__items {
    @media (max-width: 768px) {
      align-self: center;
    }
  }

  &__name {
    padding-right: 2.5rem;
    padding-bottom: 1.8rem;

    font-size: 1.31rem;
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__value {
    padding-bottom: 1.6rem;
    font-size: 1.31rem;
    line-height: 1.2;
  }

  &__link {
    text-decoration: none;
    color: #000000;
  }

  &__item:last-child {
    & > .contact__value,
    & > .contact__name {
      padding-bottom: 0
    }
  }
}