mixin contact(name, ...contacts)
  section.contact
    +header(name)
    table.contact__items
      each contact in contacts
        tr.contact__item
          td.contact__name= contact.name
          td.contact__value
            case contact.name
              when 'e-mail'
                a.contact__link(href='mailto:' + contact.value)= contact.value
              when 'phone'
                a.contact__link(href='tel:' + contact.value)= contact.value
              when 'website'
                a.contact__link(href= contact.value)= contact.value
              default
                =contact.value
                            
