.profile {
    margin-bottom: 2.7rem;
}
.profile__description {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2rem;
}
.profile__header {
    margin-bottom: .75rem;

    &::before {
        background-image: url('blocks/profile/user.png');
    } 
}