.profile {
    margin-bottom: 2.7rem;
}
.header__img--profile {
    background-image: url('blocks/profile/user.png');
} 
.profile__description {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2rem;
}
.header--profile {
    margin-bottom: .75rem;
}