include ../practice/practice.pug
include ../header/header.pug

mixin experience({ name, items })
  section(class= name)
    +header({ name })
    ul(class=`${name}__list`)
      each item in items
        +practice({ name, title: item.name, date: item.date, organization: item.organization, text: item.text })