.education__header {
  margin-bottom: 1.8rem;

  &::before {
    background-image: url('blocks/experience/star.png');
  }   
}
.experience__header {
  margin-bottom: 2.65rem;

  &::before {
    background-image: url('blocks/experience/portfolio.png');
  }
}
.experience__list,
.education__list {
  margin: 0;
  padding: 0;
  list-style: none;
}