.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;

  &__photo {
    height: 13rem;
    width: 13rem;
    background-color: $blue;
    border-radius: 50%;
    background-clip: content-box;
    padding: 0.87rem;
    border: 2px solid $blue;
    margin-bottom: 1.8rem;
  }

  &__name {
    font-weight: 300;
    font-size: 3.37rem;
    line-height: 1;
    text-align: center;
  }

  &__surname {
    font-size: 3.93rem;
    line-height: .9;
    font-weight: bold;
    margin-bottom: .9rem;
    letter-spacing: 1px;
  }

  &__profession {
    font-size: 1.56rem;
    font-weight: bold;
    line-height: 1.2;
  }
}