mixin skill({ maxValue, value, title })
  - let i = 0
  li.skills__item
    span.skills__item-name #{title}
    .skills__item-level(aria-label= `${value} from ${maxValue}`)
      while i < maxValue
        .skills__item-value(class= i++ < value ? 'skills__item-value_enable' : 'skills__item-value_disable')