include ../header/header.pug
include ../skill/skill.pug

mixin skills({ name, maxValue, items })
  section.skill
    +header({ name })
    ul.skills
      each item in items
        +skill({ maxValue, value: item.value, title: item.title })
