.wrapper {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 6rem;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  @media (max-width: 480px) {
    padding: 0 2rem;
  }

  &__column-left {
    width: 37%;
    margin-right: auto;
  
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__column-right {
    width: 56%;
  
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__contact {
    margin-bottom: 2.6rem;
  }

  &__profile {
    margin-bottom: 2.7rem;
  }

  &__user {
    margin-top: 5.62rem;
    margin-left: 1.8rem;
    margin-bottom: 4.9rem;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__education {
    margin-top: 4.6rem;
    margin-bottom: 3.36rem;
  }

  &__experience {
    margin-bottom: 3.4rem;
  }

  &__software {
    margin-bottom: 6rem;
  }
}