.software {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: .4rem;
  }

  &__header {
    margin-bottom: 1.5rem;

    &::before {
      background-image: url('blocks/software/computer.png')
    }
  }
}