@import '../../style-config/colors.scss';

.software {
  &__header {
    margin-bottom: 1.5rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: .4rem;

    @media (max-width: 480px) {
      padding-left: 0;
      flex-direction: column;
      align-items: center;
    }

    &-item {
      width: 44.47%;
      margin-bottom: 1.5rem;
    
      @media (max-width: 480px) {
        width: 100%;
      }
    
      &-name {
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: .5px;
      }
    
      &-bar {
        margin-top: .85rem;
        height: 1.4375rem;
        background-color: $lightgrey;
      }
    
      &-progress {
        background-color: $blue;
        height: 100%;
      }
    }
  }
}