mixin software({ name, programs })
  section.software
    +header({ name })
    ul.software__list
      each program in programs
        +softwareItem({ name: program.name, percent: program.percent })
